body {
  margin: 0;
}

#ui_points {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 10px;
}

#ui_highscore {
  margin: 0;
  position: absolute;
  top: 2px;
  right: 10px;
}

h1 {
  color: whitesmoke;
  font-family:fantasy;  
} 